<table class="table table-bordered table-striped text-center mt-lg-5">
  <thead>
    <tr>
      <th colspan="6">Receita</th>
      <th colspan="2">Post</th>
    </tr>
    <tr>
      <th appCursorPointer>Nome</th>
      <th appCursorPointer>Tipo</th>
      <th appCursorPointer>Fit</th>
      <th appCursorPointer>Vegan</th>
      <th appCursorPointer>Testado</th>
      <th appCursorPointer>Fonte</th>
      <th appCursorPointer>Titulo</th>
      <th appCursorPointer>Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="receitas.length > 0" >
      <ng-container *ngFor="let receita of receitas">
        <tr>
          <td>{{ receita.nome }}</td>
          <td>{{ receita.tipo }}</td>
          <td>{{ receita.fit ? 'Sim' : 'Não' }}</td>
          <td>{{ receita.vegan ? 'Sim' : 'Não' }}</td>
          <td>{{ receita.testada }}</td>
          <td>{{ receita.fonte }}</td>
          <td>{{ receita.post.titulo }}</td>
          <td>{{ receita.post.status }}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
